@use '../abstracts/variables' as v;

.section-about {
    background-color: v.$color-grey-light-1;
    padding: 25rem 0; 
    margin-top: -20vh; //95 vh - 75vh
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, 
    rgba(v.$color-primary-light, 0.8), 
    rgba(v.$color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    // > - means direct child. Thats how we select everything that is direct child
    // of the .section-features class
    //we could go to features fox and write css there to bring cards horizontally,
    // but if we add more sections in the future, we would need to go there and change it separately
    // now we do that directly and with less code  
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: v.$color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem; 
}