/*  universal selector selects each and every element on the page 
and then apply these declarations on them. These CSS rules are called "simple reset".
This is needed because browsers apply some margins or padding by default to certain elements

 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; /* by setting this (it selects each and every element on the page)
it will automatically inherit whatever we put in box-sizing in body element */
  /* box-sizing: border-box; */
}

/* border-box - borders and paddings are no longer added to the total width or height
that we specify to the box */
/* root font size is set in html selector. 10 is set just for simplicity purpose.
for example 10px is 1 rem. 1.5rem is 15px */
/* using this technique it is far more easier to use rems instead of ems, because
ems do not depend on root font size but rather on font size of the parent element */
/* html {
    font-size: 10px;
} */
/* it is actually a bad practice to set font-size in pixels, because it overwrites
browser's font size settings that the user can manually change in the settings. Imagine a 
person with a bad sight adjusting browser's font size settings manually. In our page the change
would not reflect because we declared the font size value and overwrote browser's.   */
/* default browser's font size value is 16px. 10/16 = 0.625. 0.625 * 16 = 10 */
html {
  font-size: 62.5%;
}

/* we specify font in body, but not in universal selector because the properties
related to font are usually inherited */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /* 1.7 times bigger than the predefined line-height that we would have without this; */
  color: #777;
  /* padding: 30px; */
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* moved from * universal selector */
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* to specify gradient we always use the background-image property.
    We want the background to stay on top and so it actually has to be
    the first background-image that we specify. WE put gradient, then comma img*/
  background-size: cover;
  /* whatever the width of the viewport or the element it will always
  try to fit the element inside the box   */
  background-position: top;
  /* ensures whatever the viewport size the top of the image is always 
  stays at the top of container */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  /* top: 40px;
  left: 40px; */
}
.header__logo {
  height: 3.5rem;
  /* height: 35px; */
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* sometimes animations look like the move to the tope a tiny bit.
  Actually its the entire parent element that moves and gives that shaky effect.
  backface-visibility: hidden prevents this shakiness from happening */
  margin-bottom: 6rem;
  /* margin-bottom: 60px; */
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  /* font-size: 60px; */
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* letter-spacing: 35px; */
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  /* with ease-in animation will start faster, and become slower by the end,
  but ease-out starts slower and becomes faster by the end */
  /* animation-delay: 1s; 
  animation-iteration-count: 3; */
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  /* font-size: 20px; */
  font-weight: 700;
  letter-spacing: 1.75rem;
  /* letter-spacing: 17.4px; */
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out; /* shorthand property */
}

/* for browser performance it is best to only animate two
different properties. One is opacity and the other is transform */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    /* transform: translateX(-100px); */
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    /* transform: translateX(-100px); */
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    /* transform: translateX(100px); */
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
    /* transform: translateX(-10px); */
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    /* transform: translateX(100px); */
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
    /* transform: translateX(-10px); */
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    /* transform: translateY(30px); */
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    /* transform: translateY(30px); */
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  /* padding: 15px 40px; */
  display: inline-block;
  /* inline-block elements are treated as if they are text */
  border-radius: 10rem;
  /* border-radius: 100px; */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* all - we don't need to specify each and every property. All properties are enabled to
  to be animated. So hover and active will be animated in relation to 
  their initial state (in this case it is link and visited)

  Transition must be on the initial state. SO on the initial state we say that can be transition on all the properties
  and on the hover (or others) we say how it should look like
  */
  position: relative; /* this is needed because main button 
should be reference to the ::after  pseudo */
  font-size: 1.6rem;
}
.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2); */
}
.btn:hover::after {
  /* transform: scale(1.5); increases size to 1.5 the size of the original button */
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, .2); */
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  /* because the button that we have is also an inline-block */
  height: 100%;
  width: 100%;
  /* pseudo element is treated like a child of the button
  so the size is 100% of the button (the same as the button) */
  border-radius: 10rem;
  /* border-radius: 100px; */
  position: absolute;
  top: 0;
  left: 0;
  /* 182-184 lines were used to put the pseudo element behind */
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; /* animation starts from 100% and step-by-step 
goes through other points eventually reaching 0% */
}/*# sourceMappingURL=main.css.map */