/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*  universal selector selects each and every element on the page 
and then apply these declarations on them. These CSS rules are called "simple reset".
This is needed because browsers apply some margins or padding by default to certain elements

 */
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

/* border-box - borders and paddings are no longer added to the total width or height
that we specify to the box */

/* we specify font in body, but not in universal selector because the properties
related to font are usually inherited */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; 
    /* 1.7 times bigger than the predefined line-height that we would have without this; */
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
    rgba(116, 193, 102, 0.8), 
    rgba(40, 180, 133, 0.8)),
     url(../img/hero.jpg);
    /* to specify gradient we always use the background-image property.
      We want the background to stay on top and so it actually has to be
      the first background-image that we specify. WE put gradient, then comma img*/
    background-size: cover;
    /* whatever the width of the viewport or the element it will always
    try to fit the element inside the box   */
    background-position: top;
    /* ensures whatever the viewport size the top of the image is always 
    stays at the top of container */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}