/*  universal selector selects each and every element on the page 
and then apply these declarations on them. These CSS rules are called "simple reset".
This is needed because browsers apply some margins or padding by default to certain elements

 */

*,
*::after,
*::before {
    margin : 0;
    padding: 0;
    box-sizing: inherit; /* by setting this (it selects each and every element on the page)
    it will automatically inherit whatever we put in box-sizing in body element */
    /* box-sizing: border-box; */
}

/* border-box - borders and paddings are no longer added to the total width or height
that we specify to the box */


/* root font size is set in html selector. 10 is set just for simplicity purpose.
for example 10px is 1 rem. 1.5rem is 15px */
/* using this technique it is far more easier to use rems instead of ems, because
ems do not depend on root font size but rather on font size of the parent element */
/* html {
    font-size: 10px;
} */

/* it is actually a bad practice to set font-size in pixels, because it overwrites
browser's font size settings that the user can manually change in the settings. Imagine a 
person with a bad sight adjusting browser's font size settings manually. In our page the change
would not reflect because we declared the font size value and overwrote browser's.   */

/* default browser's font size value is 16px. 10/16 = 0.625. 0.625 * 16 = 10 */
html {
    // This might seem like typography but 
    // but this acts more like overall setting 
    // for how we size our entire page
    // This is a global definition more like for what 1 rem should be
    // This defines what 1 rem is.
    font-size: 62.5%;
} 

body{
    box-sizing: border-box; /* moved from * universal selector */
}
