@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.row {
    // width: 1140px; is the standard according to Jonas 
    max-width: v.$grid-width; //1140 / 10 = 114rem like we specified in base
    margin: 0 auto; // to center block elements inside another block element
    
    &:not(:last-child) {
        margin-bottom: v.$gutter-vertical;
    }

    @include mixins.clearfix;

    //this way we specify the attribute
    //^ means that we want the beginning to be what we set here
    //it will select all of the elements in which the class attribute starts
    [class^="col-"]  {
        float: left;

        &:not(:last-child) {
            margin-right: v.$gutter-horizontal;
        }
    } 
    // * would select any classes which contains this part col
    // $ any class that end with "col-"
    .col-1-of-2 {
        width: calc((100% - #{v.$gutter-horizontal}) / 2);
        
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{v.$gutter-horizontal}) / 3);
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{v.$gutter-horizontal}) / 4);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{v.$gutter-horizontal}) / 3) + #{v.$gutter-horizontal});
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{v.$gutter-horizontal}) / 4) + #{v.$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{v.$gutter-horizontal}) / 4) + 2 * #{v.$gutter-horizontal});
    }


}

