@use '../abstracts/variables' as v;

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
    rgba(v.$color-primary-light, 0.8), 
    rgba(v.$color-primary-dark, 0.8)),
     url(../img/hero.jpg);
    /* to specify gradient we always use the background-image property.
      We want the background to stay on top and so it actually has to be
      the first background-image that we specify. WE put gradient, then comma img*/
    background-size: cover;
    /* whatever the width of the viewport or the element it will always
    try to fit the element inside the box   */
    background-position: top;
    /* ensures whatever the viewport size the top of the image is always 
    stays at the top of container */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        /* top: 40px;
        left: 40px; */
    }

    &__logo {
        height: 3.5rem;
        /* height: 35px; */
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}