@use '../abstracts/variables' as v;

.btn{
    &:link, 
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        /* padding: 15px 40px; */
        display: inline-block;
        /* inline-block elements are treated as if they are text */
        border-radius: 10rem;
        /* border-radius: 100px; */
        transition: all .2s;
        /* all - we don't need to specify each and every property. All properties are enabled to
        to be animated. So hover and active will be animated in relation to 
        their initial state (in this case it is link and visited)
        
        Transition must be on the initial state. SO on the initial state we say that can be transition on all the properties
        and on the hover (or others) we say how it should look like
        */
        position: relative; /* this is needed because main button 
        should be reference to the ::after  pseudo */
        font-size: v.$default-font-size;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(v.$color-black, .2);
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2); */

        &::after{
        /* transform: scale(1.5); increases size to 1.5 the size of the original button */
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
        }
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(v.$color-black, .2);
        /* box-shadow: 0 5px 10px rgba(0, 0, 0, .2); */   
    }
    
    &--white {
        background-color: v.$color-white;
        color: v.$color-grey-dark;

        &::after {
        background-color: v.$color-white;
        }
    }
    
    &::after{
        content: "";
        display: inline-block; 
        /* because the button that we have is also an inline-block */
        height: 100%;
        width: 100%;
        /* pseudo element is treated like a child of the button
        so the size is 100% of the button (the same as the button) */
        border-radius: 10rem;
        /* border-radius: 100px; */
        position: absolute;
        top: 0;
        left: 0;
        /* 182-184 lines were used to put the pseudo element behind */
        z-index: -1; 
        transition: all 0.4s;
    }
    
    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards; /* animation starts from 100% and step-by-step 
        goes through other points eventually reaching 0% */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: v.$default-font-size;
        color: v.$color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid v.$color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: v.$color-primary;
        color: v.$color-white;
        box-shadow: 0 1rem 2rem rgba(v.$color-black, .15);
        transform: translateY(-2px);
    }
 
    &:active {
        box-shadow: 0 0.5rem 1rem rgba(v.$color-black, .15);
        transform: translateY(0px);
    }
}