@use '../abstracts/variables' as v;

//as soon as we set position to absolute on an element these elements 
//will be placed according to the reference and the ref is the first 
//parent that it encounters which has its position set to something

.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(v.$color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.2s, border-radius 0s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            border-radius: 0;
            outline: 1.5rem solid v.$color-primary;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba(v.$color-black, .5);
            z-index: 20; //we use z-index so that it overlap other content

        }
    }
}