@use '../abstracts/variables' as v;

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(v.$color-black, .1);
    background-color: v.$color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: v.$default-font-size;

    &__shape {
        width: 15rem;
        height: 15rem;
        //in order to make the rest of the content to float around it
        float: left;
        background-color: olivedrab;
        //first is size (radius) of the circle, second param is the position of the center of the circle
        //50% is half the height and the width (7.5 rem in this case)
        //50% horizontally and vertically
        shape-outside: circle(50% at 50% 50%); 
        //without the element being floated shape-outside would not work
        //also the element must have defined dimensions

        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem);
    }
}